body{
    background-image:url('image.png') no-repeat center center/cover;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*{
    margin:0;
    padding: 0;
}
h1{
    color:white;
    font-size: 60px;
}

.button{
    padding:20px;
    margin:0px 2px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.container{
    height:360px;
    width:250px;
    background-color: gray;
    border:2px solid white;
    border-radius: 10px;
    margin-top:100px;
    margin:auto;
    padding-top:30px;
}
.row{
  margin:3px 0px;
}
.row input{
    font-size: 13px;
    margin:0;
    padding:30px 32px;
    border:2px solid black;
    border-radius: 10px;
}